
html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#f0f1f4, #2b2b2c);
}
.contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .6);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}
.contenedor h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.contenedor .usuario {
    position: relative;
}
.contenedor .usuario input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.contenedor .usuario label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transform: .5;
}
.contenedor .usuario input:focus ~ label,
.contenedor .usuario input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}


button {
    position: relative;
    margin-bottom: 8px;
    width: 50%;
    padding: 1px 3px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 0.5em rgb(110, 237, 237);
    background-color: rgb(44, 157, 157);
    border: o.25em solid rgb(110, 237, 237);
    border-radius: 9px;
    box-shadow: 0 0 1em 0.25em rgb(110, 237, 237),
    0 0 4em 1em rgba(65, 243, 243, 0.781),
    inset 0 0 0.75em 0.5em rgb(110, 237, 237);
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    
  
}


button ::after {
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(65, 243, 243, 0.781);
    filter: blur(2em);
    opacity: 0.7;
    pointer-events: none;
    transform: perspective(1.5em)
     rotateX(35deg)
     scale(1, 0.6);
    
}
button:hover {
    color: rgb(44, 157, 157);
    background-color:rgb(110, 237, 237);
    box-shadow: 0 0 1em 0.25em rgb(110, 237, 237), 0 0 4em 2em rgba(65, 243, 243, 0.781),
    inset 0 0 0.75em 0.25em rgb(110, 237, 237);
}

button:active {
    box-shadow: 0 0 0.6em 0.25em rgb(110, 237, 237), 0 0 2.5em 2em rgba(65, 243, 243, 0.781),
    inset 0 0 0.5em 0.25em rgb(110, 237, 237);
}
#git{
    display: none;
    
}
@media (max-width: 768px) {
    .contenedor {
      width: 90%;
      padding: 20px;
    }
    button {
      width: 100%;
    }
  }
  
